<div id='accHead'>
  <h1>My Account</h1>
  <p>
    <a href='/post'>Create A Post</a>
  </p>
</div>

<!-- ACCOUNT VERIFICATION -->
<% if session[:user] == nil %>
  <p>No one is logged in</p>
  <% elsif session[:user] != nil %>
    <p>Welcome back,
      <%= session[:user].username %></p>
  <% end %>
  <!-- ======================== -->

  <% @posts.reverse.first(20).each do |t| %>
    <div id='postAccount'>
      <h2><%= t.title %></h2>
      <hr>
      <div>
        <img src="<%= t.image_url %>" id="postImg" style="max-width: 70%">
      </div>
      <p><%= t.content %></p>
    </div>
  <% end %>
