<head>
  <style media="screen">
    html{
      background: linear-gradient(rgba(0, 0, 0, 0.5));
      background-image: url('images/FotoJet.png');
      background-size: cover;
      /* background-color: rgba(0, 0, 0, 0.5); */
    }
  </style>
</head>

<div class="logo">
  <h1 class='flash'><span class='letter'>ch</span>a<span class='letter'>po</span></h1>
</div>
