<div class="main">
  <a href='/signup'><img src="images/hat-beard.png" id="main-img"></a>
</div>

<div class="logo">
  <h1 class='flash'><span class='letter'>ch</span>a<span class='letter'>po</span></h1>
</div>
