<head>
  <title><%= @page_title%></title>
</head>

<h1>Login</h1>

<div id='login-menu'>
  <form action="/login" method="post">
    <input type="text" name="email" placeholder="Email" required>
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>

    <sub><a href='/signup'>Sign Up</a></sub>
    <input type="submit" value="Log In">
  </form>
</div>
