/* ==========VARIABLE============== */
:root{
  --second-font: 'Comfortaa', cursive;
}
/* ================================ */
/* ==========LAYOUT================ */

html{
  background-color: #fe5850;
}
footer{
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: #333;
}

footer li{
  display: inline;
  font-size: 0.6rem;
}

.navi{
  margin: 0;
  position: fixed;
  top: 0;
  left: 40%;
  display: flex;
  list-style-type: none;
  font-family: var(--second-font);
}

.navi li{
  margin: 1em;
}
/* ================================ */
/* ===========HOME================= */
.main{
  /* display: none; */
  position: absolute;
  max-width: 50%;
  left: 37%;
  top: 22%;
}

.logo{
  position: relative;
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Syncopate', sans-serif;
  /* font-family: 'Six Caps', sans-serif; */
  font-size: 7em;
  left: 4.5%;
  top: 15%;
  max-width: 90%;
  z-index: -1;
  letter-spacing: 25px;
  color: #333;
}

.letter{
  letter-spacing: 12px;
}

#main-img{
  max-width: 50%;
}
/* ================================ */
/* ===========LOGIN================ */
sub{
  font-family: var(--second-font)
}
input[type=text], input[type=password], input[type=email]{
  border: none;
  border-bottom: 2px solid #2f6f85;
  text-align: center;
}

#login-menu, #signup-menu{
  position: absolute;
  left: 38.5%;
  border: 3px solid #2f6f85;
  padding: 10% 5%;
  box-shadow: 0 0 15px #000;
  border-radius: 20px;
  bottom: 25.4%;
}

#signup-menu{
  bottom: 23.4% !important;
}
/* ================================ */
