/* ==========VARIABLE============== */
:root{
  --second-font: 'Comfortaa', cursive;
}
/* ================================ */
/* ==========LAYOUT================ */
html{
  background-color: #fe5850;
}

footer{
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: #333;
}

footer li{
  display: inline;
  font-size: 0.6rem;
}

a{
  color: #3dbcc7;
}

.navi{
  margin: 0;
  top: 0;
  list-style-type: none;
  font-family: var(--second-font);
  left: 35%;
  max-width: 21%;
  display: inline-flex;
}

.navi li{
  margin: 1em;
}
/* ================================ */
/* ===========HOME================= */
.logo{
  position: absolute;
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Syncopate', sans-serif;
  /* font-family: 'Six Caps', sans-serif; */
  font-size: 7em;
  left: 4.5%;
  max-width: 90%;
  color: #333;
  z-index: -1;
  /* top: 50%; */
}

.flash{
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash{
  from {color: #000;}
  to {color: #fff;}
}
/* ================================ */
/* ===========LOGIN/SIGNUP========= */
sub{
  font-family: var(--second-font)
}
input[type=text], input[type=password], input[type=email]{
  border: none;
  border-bottom: 2px solid #2f6f85;
  background-color: rgba(255,255,255,0.7);
}

input[type=date]{
  position: relative;
  left: 13%;
}

#login-menu, #signup-menu{
  position: absolute;
  left: 38.5%;
  border: 3px solid #2f6f85;
  padding: 10% 5%;
  box-shadow: 0 0 15px #000;
  border-radius: 20px;
  bottom: 25.4%;
  background-color: rgba(255,255,255,0.7);
}

#signup-menu{
  bottom: 23.4% !important;
}

#dog{
  max-width: 100%;
}

#form-img{
  max-width: 33%;
  transform: rotateZ(55deg);
  position: absolute;
  left: 41%;
  top: 5%;
}

.form-login{
  font-family: 'Syncopate', sans-serif;
  position: absolute;
  left: 44%;
  max-width: 11%;
  top: 25%;
  z-index: 1;
  text-align: center;
}

.form-signup{
  font-family: 'Syncopate', sans-serif !important;
  position: absolute;
  left: 44.3%;
  max-width: 11%;
  top: 16%;
  z-index: 1;
  text-align: center;
}
/* ================================ */
/* ===============POST============= */
#post{
  z-index: -1;
  position: relative;
  left: 34%;
  border: 3px solid black;
  max-width: 30%;
  margin-bottom: 3%;
  box-shadow: 0 0 5px;
}

#postInfo{
  max-width: 70%;
  position: relative;
  left: 20%;
  top: 4%;
}

#postHead{
  max-width: 12%;
}

#postForm{
  margin-bottom: 10px;
  position: relative;
  bottom: 30%;
  max-width: 64%;
}

#postAccount{
  z-index: -1;
  position: relative;
  left: 35%;
  border: 3px solid black;
  max-width: 30%;
  margin-bottom: 3%;
  box-shadow: 0 0 5px;
}

#postImg{
  position: relative;
  left: 12%;
  top: 2%;
}

#accHead{
  position: absolute;
  top: 5%;
  max-width: 16%;
  left: 45%;
}

#accHead p , #accHead h1{
  margin-bottom: 0;
  margin-top: 0;
}
/* ================================ */
