/* ==========VARIABLE============== */
:root{
  --second-font: 'Comfortaa', cursive;
}
/* ================================ */
/* ==========LAYOUT================ */
.navi{
  margin: 0;
  position: fixed;
  top: 0;
  left: 40%;
  display: flex;
  list-style-type: none;
  font-family: var(--second-font);
}

.navi li{
  margin: 1em;
}

footer{
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 10%;
}

footer li{
  display: inline;
  font-size: 0.6rem;
}
/* ================================ */
/* ===========HOME================= */
.main{
  /* display: none; */
  position: absolute;
  max-width: 50%;
  left: 37%;
  top: 22%;
}

.logo{
  position: relative;
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Syncopate', sans-serif;
  /* font-family: 'Six Caps', sans-serif; */
  font-size: 7em;
  left: 2.5%;
  top: 15%;
  max-width: 90%;
  z-index: -1;
  letter-spacing: 25px;
}

#main-img{
  max-width: 50%;
}
/* ================================ */
/* ===========LOGIN================ */
sub{
  font-family: var(--second-font)
}
input[type=text], input[type=password]{
  border: none;
  border-bottom: 2px solid red;
}

#login-menu{
  position: absolute;
  left: 38%;
  border: 1px solid red;
  padding: 10% 5%;
}
/* ================================ */
